.button {
  display         : inline-flex;
  outline         : none;
  border          : 1px solid transparent;
  box-shadow      : none;
  align-items     : center;
  justify-content : center;
  padding         : 1.2em 4em;

  font-size       : 18pt;
  line-height     : 1;
  text-transform  : uppercase;
  font-weight     : bold;
  text-decoration : none;

  cursor          : pointer;
  transition      : all .3s;

  &_block {
    width : 100%;
  }

  &:hover {
    box-shadow : 0 0 10px rgba(0, 0, 0, .3);
  }

  &:active {
    transform : translateY(5px);
  }

  &_color {

    &_blue {

    }

    &_green {
      background-color : #00b770;
      color            : #fff;
    }
  }
}