.section-advs {
  position         : relative;
  background-color : #efefef;
  z-index          : 2;

  &__wrapper {
    display        : flex;
    gap            : 40px;
    padding-bottom : 72px;
    
    @media (max-width: $md) {
      flex-direction : column;
    }
  }

  &__item {

    &-title {
      font-weight    : bold;
      font-size      : 18px;
      text-transform : uppercase;
      margin-bottom  : 32px;
      line-height    : 1.333;
    }

    &-desc {
      font-weight : 300;
      font-size   : 18px;
      line-height : 1.333;
    }
  }

  &__icon {
    margin-top    : -35px;
    width         : 100px;
    height        : 100px;
    display       : block;
    margin-bottom : 16px;

    img {
      display    : block;
      width      : 100%;
      height     : 100%;
      object-fit : contain;
    }
  }
}
