.header {
  position : absolute;
  top      : 0;
  width    : 100%;
  z-index  : 10;

  &__wrapper {
    display         : flex;
    justify-content : space-between;
    padding-top     : 68px;
  }

  &__menu {
    display    : flex;
    list-style : none;

    &-item {

      a {
        display         : flex;
        padding         : 1rem 2rem;
        color           : #000;
        text-decoration : none;
        font-size       : 18px;
        font-weight     : 600;
        transition      : all .2s;

        &:hover {
          transform : translateY(-3px);
        }
      }

    }
  }
}